* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #eee;
}

header {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 130px;
  padding-right: 142px;
  padding-bottom: 10px;
  padding-top: 5px;
}

header nav h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "lucida handwriting", cursive;
  color: darkblue;
}
span {
  color: darkred;
  font-family: "lucida handwriting", cursive;
}

main .tabs {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding-right: 130px;
}

main .tabs .tab {
  display: block;
}

main .tabs .tab a[data-switcher] {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  background-color: darkblue;
  cursor: pointer;
}

main .tabs .tab:hover a[data-switcher] {
  background-color: darkred;
}

main .tabs .tab.is-active a[data-switcher] {
  background-color: darkred;
  font-weight: 700;
}

main {
  padding-left: 300px;
  padding-right: 142px;
}

.pages {
  margin-top: 70px;
  padding: 50px 80px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  width: 60vw;
  align-items: center;
}

.pages .page {
  display: none;
}

.pages .page.is-active {
  display: block;
}

/*FORM AND TABLE*/
form {
  padding: 10px;
}
#selectCountry {
  border-radius: 50px;
  border-color: black;
}
#btn {
  border-radius: 50px;
  background-color: darkred;
  width: 10vw;
  font-weight: bold;
  border-color: darkred;
  color: white;
}
#btn:hover {
  background-color: darkblue;
  border-color: darkblue;
}
table,
td,
th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

/*CHART*/
.chartMenu {
  width: 130vw;
  height: 50px;
  background: #1a1a1a;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  font-size: 20px;
}
.chartCard {
  width: 40vw;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 2px;
}
.chartBox {
  width: 700px;
  background: white;
}
